 <ul>
  <li
    class="section">
    <h3 class="section-title">Introduction</h3>
    <ul>
      <li>
        <a
          href="/getting-started" class="topic active--exact
          active">Getting
          started</a>
        <!---->
        <ul>
          <li>
            <a
              href="/getting-started#what-is-jamdocs"
              class="sub-topic">
              What is Jamdocs
            </a>
          </li>
          <li>
            <a
              href="/getting-started#local-installation"
              class="sub-topic">
              Local installation
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li
    class="section">
    <h3
      class="section-title">Setup</h3>
    <ul>
      <li>
        <a
          href="/theme-configuration" class="topic">
          Theme configuration
        </a>
        <ul>
          <li>
            <a
              href="/theme-configuration#changing-logo"
              class="sub-topic">
              Changing logo
            </a>
          </li>
          <li>
            <a
              href="/theme-configuration#adding-icons"
              class="sub-topic">
              Adding icons
            </a>
          </li>
          <li>
            <a
              href="/theme-configuration#changing-colors"
              class="sub-topic">
              Changing colors
            </a>
          </li>
          <li>
            <a
              href="/theme-configuration#changing-font"
              class="sub-topic">
              Changing font
            </a>
          </li>
          <li>
            <a
              href="/theme-configuration#edit-the-sidebar"
              class="sub-topic">
              Edit the sidebar
            </a>
          </li>
        </ul>
        <!---->
      </li>
    </ul>
  </li>
</ul>
