%ul
  %h3.section-title Pages
  %ul
    - sitemap.resources.each do |resource|
      - if resource.path.end_with?('html')
        %li
          %a.topic{href: resource.path, class: ('active' if current_page.page_id == resource.page_id)}
            = resource.data.title

