---
title: 'Club managers'
---

%h1 Club managers

%i As a club manager you only need to input information about rowers of your club once and can re-use it for every registration for Austrian regattas.

%p You are currently the manager for your club and also allowed to register rowers for regattas. You need to create club members before you can register them. Additionally you can create an account for another person who is also allowed to make registrations.
%p
  Below you'll find steps for the most important tasks. For any questions please contact
  = succeed "." do
    %a{:href => "mailto:office@rudern.at"} office@rudern.at
%h2 How to register for a regatta
%ol
  %li Get access to the system (see below "Get access")
  %li Create the members you want to register (see below "Create members")
  %li
    Choose the regatta from 
    %a{:href => "https://regatten.rudern.at/"}> https://regatten.rudern.at/
     and select your club and start adding crews
  %li Send the registration
  %li Finished (you should receive an email confirmation will all registration infos)
%h2 Get access
%ol
  %li
    Visit
    = succeed "\u00A0and" do
      %a{:href => "https://regatten.rudern.at/"} https://regatten.rudern.at/
    %em Administration
    in the upper right corner
  %li
    Press
    %em Forgot password
    and enter your email address
  %li Follow the instructions in the email and choose a password
  %li You can now login with your email and the chosen password to register and manage your club
%h2 Create members
%ol
  %li
    Visit
    = succeed "\u00A0and" do
      %a{:href => "https://regatten.rudern.at/"} https://regatten.rudern.at/
    %em Administration
    in the upper right corner
  %li Login if you're not logged in yet
  %li
    Press
    %em Mitglieder
  %li
    For every club member that you'll want to register create a member: press
    = succeed "," do
      %em Mitglied erstellen
  %li You can now register for regattas with any of the rowers you created; you can always come back to create new rowers or edit existing ones
%h2 Create other registrant
%ol
  %li Follow the steps to create a member
  %li Before submitting the form, check the box for "meldeberechtigt?"
%p
  %br/
%p  