---
title: Welcome to Middleman
---

<h1>
  Getting started
</h1>
<div class="markdown">
  <h2
    id="what-is-jamdocs">
    <a href="#what-is-jamdocs" aria-hidden="true">
      <span
        class="icon icon-link">
      </span>
    </a>What is Jamdocs</h2>
  <p>Jamdocs is a documentation theme for Gridsome, built to spin
    up
    quick, beautiful and static documentation sites fast without
    hassle.
    Since there is no theming system for Gridsome yet, Jamdocs
    comes
    with Gridsome, plug-ins and packages as dependencies.</p>
  <h2 id="local-installation"><a href="#local-installation"
      aria-hidden="true"><span class="icon icon-link"></span></a>Local
    installation</h2>
  <p>Even though Jamdocs is so simple, you dont really need to set
    it up
    localy (you could just fork it on github to edit styles and
    md-files) - if you want to change it up a bit I recommend
    setting up
    localy for a better developer experience.</p>
  <p>To set up a new instance of Jamdocs, and start developing
    just
    clone the project from Github like, go to the directory and
    run
    gridsome:</p>
  <pre class="language-bash"><span class="token function">git</span> clone https://github.com/samuelhorn/jamdocs project-name
<span class="token builtin class-name">cd</span> project-name
gridsome develop</pre>
</div>