%p{:style => "text-align: right;"}
  %time.date-past{:datetime => "2018-08-08"}> Letzte Aktualisierung: 08 Aug 2018


%h1 Regattamanagement

%h2 Benötigte Daten für das Anlegen einer Regatta

Um eine Regatta in das System einzutragen, werden die untenstehenden Daten (angegeben mit jeweiligen Beispielen) benötigt. Die eingegebenen
Daten scheinen in der Regattaliste unter #{link_to "https://regatten.rudern.at", "https://regatten.rudern.at"} auf. Zwischen Meldestart
und -schluß können von Meldeberechtigten Meldungen abgegeben und bestehende Meldungen bearbeitet werden.

%dl.example-listing
    
  %dt Name
  %dd 29. Internationale Österreichische Indoor-Rudermeisterschaften 2018

  %dt Beginn
  %dd Sonntag, 28. Jänner 2018

  %dt Dauer (in Tagen)
  %dd 2

  %dt Meldestart (Datum, Uhrzeit)
  %dd 03.09.2017 09:00

  %dt Meldeschluss (Datum, Uhrzeit)
  %dd 13.09.2017 20:00

  %dt optional: Hinweise für Meldende (Text)
  %dd In den Junioren-A, Juniorinnen-A, Männer- und Frauen-Rennen werden an beiden Tagen Vorlauf und Finale ausgetragen. Für Schüler/innen und Junioren/innen-B Rennen muss nur für Sonntag gemeldet werden.

  %dt optional: Emailadresse, an die jede Meldungsbestätigung als BCC gesendet wird
  %dd office@ruderverband.wien

  %dt optional: Veranstalter - Name
  %dd Andrea Anselm

  %dt optional: Veranstalter - Emailadresse
  %dd office@ruderverband.wien

  %dt optional: Veranstaltungsort
  %dd Villach, Ossiacher See

  %dt optional: URL der Ausschreibung
  %dd https://www.dropbox.com/s/mxzxdnr6g17n1ug/Ausschreibung%C3%96VMM2017.pdf?dl=0

  %dt optional: URL der Fahrordnung
  %dd https://www.dropbox.com/s/k4hwyeimhi8tgpk/FahrordnungVillach.pdf?dl=0

  %dt optional: explizite Bestätigung der Fahrordnung von jedem Meldenden
  %dd -

  %dt optional: Voucher anbieten
  %dd ja, nein

  %dt optional: Text für Voucher
  %dd Preorder vouchers for your team. One voucher is €8 and includes a plate of either Wiener Schnitzel, spaghetti or pork chops and a soft drink (0.5 l). Please pick up your preordered vouchers at the regatta office on the 2nd floor of the club building.

  %dt optional: Voucherpreis
  %dd EUR 8,0

  %dt optional: Meisterschaftsbewerb (legt für Mehrfachmitglieder fest, dass nur für den im Kalenderjahr als erstes gemeldeten Verein gemeldet werden kann)
  %dd ja, nein


%p Darstellung in der öffentlichen Regattaauflistung:
%p
  = image_tag "RegattalisteScreenshot2018-01-05.png"


%h2 Rennimport
%p
  Erfolgt über eine Tabelle, mit untenstehenden Spalten.
  %em rowbase
  erlaubt den Export dieser Datei.

%table
  %tbody
    %tr
      %th Bezeichnung
      %th Bedeutung
      %th{:colspan => "1"} Beispiel
    %tr
      %td Tag (Ganzzahl)
      %td Regattatag, an dem dieses Rennen gefahren wird (erster Tag ist 1)
      %td 1
    %tr
      %td Rennennummer (Ganzzahl)
      %td Eindeutige Ganzzahl, die die Reihenfolge vorgibt und in der Auflistung als "Event x" angezeigt wird.
      %td 1
    %tr
      %td Rennenbezeichnung (Text)
      %td Vollständige Rennbezeichnung
      %td Masters-Frauen
    %tr
      %td Kurzbezeichnung (Text)
      %td Kurzbezeichnung
      %td MW
    %tr
      %td Sitze (Ganzzahl)
      %td Anzahl der Ruderer pro Mannschaft (ohne Steuermann, max 8)
      %td 4
    %tr
      %td Meldegeld (Dezimalzahl)
      %td Meldegeld pro Mannschaft
      %td 18,00 €
    %tr
      %td Streckenlänge (Text)
      %td Distanz des Rennens
      %td 2000
    %tr
      %td Steuermann (Text)
      %td mit oder ohne Steuermann ("ja", "nein")
      %td ja
    %tr
      %td RGM_erlaubt (Bool)
      %td Renngemeinschaft erlaubt ("ja", "nein")
      %td ja
    %tr
      %td ID (Ganzzahl)
      %td Identifier, der beim späteren Import der Meldungen in ein Regattaverwaltungssystem eine eindeutige Rennzuordnung erlaubt.
      %td 327

%ul
  %li
    Beispieldatei: 
    %a{:href => "https://www.dropbox.com/s/n0ogfntq0fbjnfv/Beispieldatei_RennenKlagenfurt2018.xlsx?dl=0"} https://www.dropbox.com/s/n0ogfntq0fbjnfv/Beispieldatei_RennenKlagenfurt2018.xlsx?dl=0

    
%h2 Meldungsexport
%p
  Besteht aus zwei Dateien. Eine für die Boote, eine für die meldenden Vereine. Das Format des Bootsexports erlaubt den direkten Import in
  = succeed "." do
    %em rowbase
%ul
  %li
    Beispieldatei Boote: 
    %a{:href => "https://www.dropbox.com/s/si1corz3zhuhbdw/114.%20Wiener%20Int.%20Ruderregatta%20Boats.xlsx?dl=0"} https://www.dropbox.com/s/si1corz3zhuhbdw/114.%20Wiener%20Int.%20Ruderregatta%20Boats.xlsx?dl=0
  %li
    Beispieldatei Clubs: 
    %a{:href => "https://www.dropbox.com/s/6kyitbz0slgugui/114.%20Wiener%20Int.%20Ruderregatta%20Clubs.xlsx?dl=0"} https://www.dropbox.com/s/6kyitbz0slgugui/114.%20Wiener%20Int.%20Ruderregatta%20Clubs.xlsx?dl=0
